
body{

	background-color: #FFFAFA;
}

label {

	font-family: courier;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 2px;
	color:#2F4F4F;
}
legend {

	font-family: courier;
	font-size: 18px;
	text-align: center;
	margin: 15px;
}

input {

	font-family: courier;
	font-size: 16px;
	margin-top: 2px;
	margin-bottom: 30px;
	color:#2F4F4F;
	width: 30%;
	padding: 10px;
}

form button {

	font-family: courier;
	margin-top: 10px;
	font-size: 18px;
	width: 20%;
	background-color: #008B8B;
	text-transform: uppercase;
	border: none;
	padding: 15px;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav {

	background-color:#696969;
	width: 100%;
	height: 40px;
	margin: 10px 0;
}

ul {

	margin-left: 400px;
}

nav ul li {

	display: inline-block;
	font-family: courier;
	font-size: 20px;
	position: relative;
	text-align: right;
}
nav ul li ul {

	display: none;
	position: absolute;
	margin: 0px;
	background-color:#C0C0C0;
	border-radius:0px 0px 4px 4px;
}

nav ul li:hover ul {

	display: block;
}


nav ul li ul li a{

	font-family: courier;
	display: block;
	font-size: 14px;
	text-align: justify;
	padding: 0px 10px;
	
}
nav ul li a {

	color: #fff;
	display: inline-block;
	padding: 0 50px;
	text-decoration: none;
	margin: 10px 10px;
	display: block;

}
 ul li a:hover, ul li a:active {

	background-color: #2F4F4F;
}

p#hello {

	color: black;
	font-size: 16px;
	font-family: courier;
	margin-bottom: 10px;
	width:60%;
	text-align: justify;
}